# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS

Debug/*
x64/*
*.sln
*.vcxproj
*.filters
*/x64/*

.vs

packages/
packages/*
packages.config
CppProperties.json
CMakeLists.txt
*/cmake
FindOpenCV.make
*.user